bleach~=6.1.0
lxml~=5.3.0
beautifulsoup4~=4.12.3
soupsieve~=2.6
logging~=0.4.9.6
pip~=24.3.1
attrs~=24.2.0
DateTime~=5.5
PySocks~=1.7.1
pillow~=10.4.0
tornado~=6.4.1
Jinja2~=3.1.4
uuid~=1.30
certifi~=2024.7.4
typing_extensions~=4.12.2
urllib3~=2.2.2
altgraph~=0.17.4
idna~=3.7
charset-normalizer~=3.3.2
pefile~=2023.2.7
setuptools~=72.2.0
matplotlib~=3.9.3
packaging~=24.1
future~=1.0.0
pyinstaller~=6.12.0
psutil~=6.0.0
pywin32-ctypes~=0.2.3
cffi~=1.17.0
pywin32~=308
platformdirs~=4.3.6
traitlets~=5.14.3
jupyter_core~=5.7.2
pyinstaller-hooks-contrib~=2025.1
opencv-python~=4.10.0.84
numpy~=2.0.1
dnspython~=2.7.0
trio~=0.28.0
httpcore~=1.0.6
httpx~=0.27.2
anyio~=4.6.2.post1
Eel~=0.17.0
gevent-websocket~=0.10.1
gevent~=24.2.1
bottle~=0.12.25
pyparsing~=3.1.2
whichcraft~=0.6.1
h11~=0.14.0
defusedxml~=0.7.1
ipython~=8.28.0
rsa~=4.9
pyasn1~=0.6.0
pyzmq~=26.2.0
colorama~=0.4.6
pymongo~=4.10.1
comm~=0.2.2
docx~=0.2.4
python-docx~=1.1.2
fqdn~=1.5.1
parso~=0.8.4
jedi~=0.19.1
pytz~=2024.1
outcome~=1.3.0.post0
sniffio~=1.3.1
sortedcontainers~=2.4.0
PyYAML~=6.0.2
multidict~=6.1.0
propcache~=0.2.1
arrow~=1.3.0
python-dateutil~=2.9.0.post0
babel~=2.16.0
Pygments~=2.18.0
overrides~=7.7.0
pypdf~=4.3.1
argon2-cffi-bindings~=21.2.0
six~=1.16.0
webencodings~=0.5.1
tinycss2~=1.3.0
greenlet~=3.0.3
MarkupSafe~=3.0.1
pandas~=2.2.3
openpyxl~=3.1.5
pywinpty~=2.0.13
yarl~=1.18.3
aiohttp~=3.11.11
aiosignal~=1.3.2
frozenlist~=1.5.0
aiohappyeyeballs~=2.4.4
debugpy~=1.8.7
decorator~=5.1.1
stack-data~=0.6.3
matplotlib-inline~=0.1.7
jupyter_client~=8.6.3
prompt_toolkit~=3.0.48
wcwidth~=0.2.13
requests~=2.32.3
docx2txt~=0.8
keyboard~=0.13.5
nbformat~=5.10.4
nbclient~=0.10.0
fastjsonschema~=2.20.0
jsonschema~=4.23.0
jupyter_server~=2.14.2
jupyterlab~=4.2.5
jupyterlab_server~=2.27.3
notebook_shim~=0.2.4
notebook~=7.2.2
et-xmlfile~=1.1.0
PyMsgBox~=1.0.9
selenium~=4.29.0
trio-websocket~=0.11.1
websocket-client~=1.8.0
asttokens~=2.4.1
contourpy~=1.3.1
executing~=2.1.0
fonttools~=4.55.0
ipykernel~=6.29.5
pyperclip~=1.9.0
MouseInfo~=0.1.3
nbconvert~=7.16.4
pandocfilters~=1.5.1
mistune~=3.0.2
jupyterlab_pygments~=0.3.0
pure_eval~=0.2.3
PyScreeze~=0.1.30
pytweening~=1.2.0
PyGetWindow~=0.0.9
PyAutoGUI~=0.9.54
pycparser~=2.22
terminado~=0.18.1
ipywidgets~=8.1.5
referencing~=0.35.1
webcolors~=24.8.0
jsonpointer~=3.0.0
uri-template~=1.3.0
isoduration~=20.11.0
rfc3339-validator~=0.1.4
jsonschema-specifications~=2024.10.1
async-lru~=2.0.4
cycler~=0.12.1
kiwisolver~=1.4.7
Send2Trash~=1.8.3
jupyter-lsp~=2.2.5
PyRect~=0.2.0
PySimpleGUI~=5.0.6
jupyter-events~=0.10.0
python-json-logger~=2.0.7
prometheus_client~=0.21.0
jupyter_server_terminals~=0.5.3
wsproto~=1.2.0
jupyter-console~=6.6.3
json5~=0.9.25
PyPDF2~=3.0.1